In [5]:
string="  i love pakistan  "
print(string)

  i love pakistan

In [17]:
print=(string[string.find("pakistan"):16:1])

In [4]:
print(string.strip())

i love pakistan

In [6]:
print(string.rstrip())

  i love pakistan

In [7]:
print(string.lstrip())

i love pakistan

In [10]:
string="i love pakistan."
print(string.split())

['i', 'love', 'pakistan.']

In [11]:
print(s.split("p"))

['i love ', 'akistan.']

In [12]:
card='''
student name:mahaz
batch: 3
center bahria uni
'''
print(card)

student name:mahaz
batch: 3
center bahria uni

In [12]:
name="mahaz"
batch="3"
center="bahria uni"
roll_no=23
print("student name: %s\nbatch:%s\ncenter: %s \nroll_no: %d"%(name, batch,center,roll_no))

student name: mahaz
batch:3
center: bahria uni
roll_no: 23

In [13]:
name="mahaz"
batch="3"
center="bahria uni"
quiz_score=90
print("student name: %s\nbatch:%s\ncenter: %s\nscore: %d"%(name, batch,center,quiz_score))

student name: mahaz
batch:3
center: bahria uni
score: 90

In [16]:
print("student name: "+ name +"\nbatch:"+batch+"\ncenter: "+center)

student name: mahaz
batch:3
center: bahria uni

In [21]:
print("student name: {}\nbatch: {}\ncenter:{}\nquiz score:{}".format(name,batch,center,quiz_score))

student name: mahaz
batch: 3
center:bahria uni
quiz score:90

In [28]:
print("student name:{0} \nbatch: {1} \ncenter:{2}\nquiz sore {3}\n".format(name,batch,center,quiz_score))

student name:mahaz
batch: 3
center:bahria uni
quiz sore 90

In [ ]:
#%s,%f.......assignment

In [2]:
print ("%.*g\t%.*g" % (5, 2.23523523, 3, 12.353262))

2.2352	12.4

In [15]:
print("%s,%d,%f" %("name",23,3**3))

name,23,27.000000

In [2]:
name="mahaz"
age="23"
print(f"student name: {name} and age: {age}")

student name: mahaz and age: 23