# loops in python

In [1]:
list1 = ['a','c','d','e','f']
#         -5  -4  -3  -2  -1
print(list1[0:-1:1])

['a', 'c', 'd', 'e']

In [2]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

# nested for loop

In [4]:
for i in range(1,6):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3
5 1
5 2
5 3

# while loop

In [5]:
i=0
while i<11:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,11):
    n=i*2
    print(f"2 X {i} = {n}" )

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [7]:
for i in range(1,11):
    print(2,"X",i,"=",2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

# create table for use input

In [8]:
user=int(input("enter number to get table of it!"))
for i in range(1,11):
    print(user,"x",i,"=",user*i)

enter number to get table of it!4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# list

In [9]:
lst=[
    50,
    57,
    78,
    40
]
print(lst)

[50, 57, 78, 40]

# 2D list

In [10]:
lst1=[
    ["mahaz",34,21],
    ["adil",54,23],
    ["mahum",74,45]
]
print(lst1)

[['mahaz', 34, 21], ['adil', 54, 23], ['mahum', 74, 45]]

In [11]:
lst1[0]

['mahaz', 34, 21]

In [12]:
lst1[0][1]

34

#  Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values

In [13]:
data={
    "name":"ali",
    "marks": 32,
    "age"  : 23
}

In [14]:
data["name"]

'ali'

In [15]:
data

{'name': 'ali', 'marks': 32, 'age': 23}

# Clear a dictionary
You can remove all values from dictionary using clear() function

In [16]:
data.clear()

In [17]:
data={
    "name":"ali",
    "marks": 32,
    "age"  : 23
}
data

{'name': 'ali', 'marks': 32, 'age': 23}

#  Add a new value to dictionary
For example:

We want to add school to data dictionary. Its a simple method

data[Key] = value

In [18]:
data["school"]="Islamabad"
data

{'name': 'ali', 'marks': 32, 'age': 23, 'school': 'Islamabad'}

In [19]:
data["city"]="rawalpendi"
data

{'name': 'ali',
 'marks': 32,
 'age': 23,
 'school': 'Islamabad',
 'city': 'rawalpendi'}

In [20]:
data.clear()
data

{}

Input name from user and add to dictionary
take input from user for name. And add to dictionary

In [21]:
user=input("enter your name:")
user=int(input("enter your class:"))
user=int(input("enter your age:"))
data["name"]=user
data["class"]=user
data["age"]=user
print(data)

enter your name:hfh
enter your class:4
enter your age:3
{'name': 3, 'class': 3, 'age': 3}

Input multiple values from user and convert to list
split() function is used to convert a string to list by specified keyword. default is space

In [22]:
skill=input("enter your skill")
lis=skill.split(",")
lis

enter your skillggg

['ggg']

In [23]:
#Using fromkeys method
#fromkeys method is used to create keys for an empty dictionary with None or given values

In [24]:
d={}
d.fromkeys(["name","class"])

{'name': None, 'class': None}

In [25]:
d["name"]="mahaz"
d["class"]=9
d

{'name': 'mahaz', 'class': 9}

In [26]:
keys=input("enter keys for dict")

enter keys for dictbd

In [27]:
k=keys.split(",")

In [28]:
k

['bd']

In [29]:
n={}
n.fromkeys(k)

{'bd': None}

In [30]:
n["name"]="mahaz"
n["class"]=10
n["age"]=18
n

{'name': 'mahaz', 'class': 10, 'age': 18}

In [31]:
#Using Get to retrive a value for key

In [32]:
n.get("age","no value exist")

18

In [33]:
print(n.get("cdf"))

None

In [34]:
print(n.get("cdf","no value exist"))

no value exist

In [35]:
#Using items, keys and values function

In [36]:
n.items()

dict_items([('name', 'mahaz'), ('class', 10), ('age', 18)])

In [37]:
n.keys()

dict_keys(['name', 'class', 'age'])

In [38]:
n.values()

dict_values(['mahaz', 10, 18])

In [39]:
n

{'name': 'mahaz', 'class': 10, 'age': 18}

In [40]:
n.pop("class")

10

In [41]:
n

{'name': 'mahaz', 'age': 18}

In [42]:
n.popitem()

('age', 18)

In [43]:
n.setdefault("fgdg")
n

{'name': 'mahaz', 'fgdg': None}

In [44]:
newN=n.copy()

In [45]:
newN

{'name': 'mahaz', 'fgdg': None}

In [46]:
n["fdb"]=45
n

{'name': 'mahaz', 'fgdg': None, 'fdb': 45}

In [47]:
newN

{'name': 'mahaz', 'fgdg': None}

In [48]:
l=[
    ["a",3,5],
    ["c",1,4],
    ["b",2,6]
]

In [49]:
l.sort()

In [50]:
print(l)

[['a', 3, 5], ['b', 2, 6], ['c', 1, 4]]

In [51]:
l.sort(key =lambda l:l[2])
l

[['c', 1, 4], ['a', 3, 5], ['b', 2, 6]]

In [52]:
l2=[
    ["a",2],
    ["b","s"],
    ["c",4]
]
dict(l2)

{'a': 2, 'b': 's', 'c': 4}

In [53]:
#Assign list to dictionary element

In [54]:
#Input value from user and store in list
#Take input from user. store in dictionary and then append dictionary to a lis

In [55]:
s={}
l3=[]
for i in range(1,4):
    name=input("enter your name")
    clas=int(input("enter class "))
    age=int(input("enter age "))
    s["name"]=name
    s['class']=clas
    s['age']=age
    print(s)
    l3.append(s)
    print(l3)

enter your namemahaz
enter class 5
enter age 3
{'name': 'mahaz', 'class': 5, 'age': 3}
[{'name': 'mahaz', 'class': 5, 'age': 3}]
enter your namemdg
enter class 4
enter age 3
{'name': 'mdg', 'class': 4, 'age': 3}
[{'name': 'mdg', 'class': 4, 'age': 3}, {'name': 'mdg', 'class': 4, 'age': 3}]
enter your namevdf
enter class 4
enter age 5
{'name': 'vdf', 'class': 4, 'age': 5}
[{'name': 'vdf', 'class': 4, 'age': 5}, {'name': 'vdf', 'class': 4, 'age': 5}, {'name': 'vdf', 'class': 4, 'age': 5}]

In [56]:
#Optimizing code

In [60]:
lis=[]
while i!="1":
    dic={
        "name": input("enter your name"),
        "class": input("enter your class")
    
         }
    lis.append(dic)
    user=input("if you want to close this press 1")
    if user=="1":
        i="1"
print("your data",lis)

enter your namemahaz
enter your class5
if you want to close this press 11
your data [{'name': 'mahaz', 'class': '5'}]

# Using update function

In [64]:
data.update({"d":4})
data

{'name': 3, 'class': 3, 'age': 3, 'd': 4}

In [63]:
data

{'name': 3, 'class': 3, 'age': 3, 'd': 4}

In [65]:
data.update({"d":6})

In [66]:
data

{'name': 3, 'class': 3, 'age': 3, 'd': 6}

In [67]:
data["d"]=10
data

{'name': 3, 'class': 3, 'age': 3, 'd': 10}